<h1 mat-dialog-title>Acesse sua conta</h1>
<button class="close" type="button" mat-button>
  <mat-icon>
    <fa-icon [icon]="faTimes"></fa-icon>
  </mat-icon>
</button>
<form>
  <div mat-dialog-content class="py-4">
    <div class="form-group">
      <input type="text" placeholder="Usuário" class="form-control mb-3" />
      <input type="password" placeholder="Senha" class="form-control" />
    </div>
  </div>
  <div mat-dialog-actions class="justify-content-center">
    <button mat-button class="btn btn-round btn-primary">Entrar</button>
  </div>
</form>
