<h1 mat-dialog-title>Acesse sua conta</h1>
<button
  class="close"
  type="button"
  mat-button
  tabindex="-1"
  (click)="closeModal()"
>
  <mat-icon>
    <fa-icon [icon]="faTimes"></fa-icon>
  </mat-icon>
</button>
<form [formGroup]="loginForm">
  <div mat-dialog-content class="py-4">
    <div class="form-group">
      <input
        type="text"
        placeholder="Usuário"
        class="form-control"
        autocomplete="off"
        formControlName="user"
      />
      <mat-error @fadeIn *ngIf="errorsHandler('user')">
        Campo usuário é <strong>obrigatório</strong>
      </mat-error>
    </div>
    <div class="form-group m-0 p-0">
      <input
        type="password"
        placeholder="Senha"
        class="form-control"
        autocomplete="off"
        formControlName="password"
      />
      <mat-error @fadeIn *ngIf="errorsHandler('password')">
        Campo senha é <strong>obrigatório</strong>
      </mat-error>
    </div>
  </div>
  <div mat-dialog-actions class="justify-content-center">
    <button
      mat-button
      class="btn btn-round btn-primary"
      (click)="logIn(loginControls)"
      [disabled]="!formValidation"
    >
      Entrar
    </button>
  </div>
</form>
