<h1 mat-dialog-title>Acesse sua conta</h1>
<button class="close" type="button" mat-button tabindex="-1">
  <mat-icon>
    <fa-icon [icon]="faTimes"></fa-icon>
  </mat-icon>
</button>
<form>
  <div mat-dialog-content class="py-4">
    <div class="form-group">
      <input
        type="text"
        placeholder="Usuário"
        class="form-control"
        autocomplete="off"
      />
    </div>
    <div class="form-group m-0 p-0">
      <input
        type="password"
        placeholder="Senha"
        class="form-control"
        autocomplete="off"
      />
    </div>
  </div>
  <div mat-dialog-actions class="justify-content-center">
    <button mat-button class="btn btn-round btn-primary">Entrar</button>
  </div>
</form>
