:host {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;

  h1 {
    font-size: 32px;
    font-weight: 600;

    @media screen and (max-width: 670px) {
      font-size: 20px;
    }
  }

  form {
    @media screen and (max-width: 670px) {
      width: 100%;
    }
  }

  .form-group {
    position: relative;
  }

  input {
    width: 370px;

    @media screen and (max-width: 670px) {
      width: 100%;
    }

    padding-left: 0;

    &[type="text"] {
      margin-bottom: 40px !important;
    }
  }

  input::placeholder {
    font-weight: bold !important;
  }
}

button {
  &.btn-round {
    padding: 5px 40px !important;

    margin-top: 30px !important;
  }

  &.close {
    position: absolute;
    top: 0;
    right: 0;
  }
}

::ng-deep {
  mat-spinner,
  .mat-progress-spinner svg {
    width: 20px !important;
    height: 20px !important;

    circle {
      stroke: #fff !important;
    }
  }

  .mat-button-wrapper {
    display: flex;
    align-items: center;
  }
}

.login-error {
  max-width: 370px;
}
