<mat-tab-group>
  <mat-tab label="Descrição">
    <div class="container">
      <p>
        Donec sit amet hendrerit ipsum. Etiam in diam eget quam lacinia
        scelerisque. In condimentum vehicula tellus vitae cursus. Donec vitae
        arcu sed mi vulputate vehicula. Sed mattis lorem felis, a bibendum nunc
        laoreet quis. Cras facilisis nisi sit amet quam ultrices, in pharetra
        turpis porttitor.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Mais Informações">
    <div class="container">
      <p>
        Donec sit amet hendrerit ipsum. Etiam in diam eget quam lacinia
        scelerisque. In condimentum vehicula tellus vitae cursus. Donec vitae
        arcu sed mi vulputate vehicula. Sed mattis lorem felis, a bibendum nunc
        laoreet quis. Cras facilisis nisi sit amet quam ultrices, in pharetra
        turpis porttitor.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Avaliações">
    <div class="container">
      <p>
        Donec sit amet hendrerit ipsum. Etiam in diam eget quam lacinia
        scelerisque. In condimentum vehicula tellus vitae cursus. Donec vitae
        arcu sed mi vulputate vehicula. Sed mattis lorem felis, a bibendum nunc
        laoreet quis. Cras facilisis nisi sit amet quam ultrices, in pharetra
        turpis porttitor.
      </p>
    </div>
  </mat-tab>
</mat-tab-group>
