.partner-box {
  max-width: 260px;
  margin-bottom: 50px;
  display: block;
}
.partner-box__img {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.partner-box__title h1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
.partner-box__title span {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.partner-box__desc p {
  font-size: 14px;
  line-height: 22px;
}

.products-config {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.products-config a {
  padding: 10px;
}
.products-config a i {
  color: #9053a1;
  font-size: 25px;
}
.products-config .dropdown {
  margin-left: 10px;
}
.products-config .dropdown a {
  font-size: 14px;
}


h2.titulo {
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  color: #0D363C;
  margin-top: 80px;
}

::ng-deep .mat-expanded {
  border: 0 !important;
}

.bgs {
  position: relative;

  &:before {
    content: url("./../../../../assets/img/icons/prod-bg-right.svg");
    position: absolute;
    top: -162px;
    right: 90px;
    z-index: -1;

    width: 158px;
    height: 158px;
  }

  .yellow-curve {
      position: absolute;
      z-index: -2;
      top: -80px;
      left: 0;
  }
}