button {
  outline: none !important;
}

.btn {
  outline: none !important;
  cursor: pointer;

  &.btn-round {
    border-radius: 30px;
    border: 0;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;

    padding: 8px 30px;
  }

  &.btn-primary {
    background-color: #9053a1;
    border-color: darken(#9053a1, 10%);
  }

  &.btn-transparent {
    background-color: transparent;
    color: #9053a1;
    border: 2px solid #9053a1;
  }

  &.btn-transparent-full {
    background-color: transparent;
    color: #9053a1;
  }

  &.btn-white-purple {
    background-color: #fff;
    color: #9053a1;
    border: 2px solid #9053a1;
  }

  &.btn-grey {
    background-color: #e0e0e0 !important;
    color: #000;
    border: 2px solid #e0e0e0;
  }
}
