app-indicator-box {
  .slide-differential__item {
    @media screen and (max-width: 676px) {
      display: flex;
      align-items: center;

      img {
          padding-right: 30px;
      }
    }
  }

  @media screen and (max-width: 676px) {
    .container {
      padding-top: 40px !important;
      padding-bottom: 20px !important;
      margin-top: 0 !important;
    }
  }
}
