app-my-products {
  display: block;
  height: 99%;
}

.table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  &--header {
    border-bottom: 1px solid #d6d6d6;

    padding: 16px;

    span {
      font-weight: bold;
    }

    button {
      font-size: 14px;

      svg {
        color: #9053a1;
      }
    }
  }

  &--body {
    padding: 16px;
    max-height: 455px;
    overflow-y: auto;
    overflow-x: hidden !important;

    &::-webkit-scrollbar {
      width: 8px;

      position: relative;
      left: -150px;

      &:hover {
        width: 10px;

        transition: all 0.5s ease-in;
      }
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 1px grey;
      position: relative;
      left: -150px;
    }

    &::-webkit-scrollbar-thumb {
      background: #aaa;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #999;
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        margin: 10px 0;
      }
    }

    .active {
      svg {
        color: #26806b;
      }
    }

    .pending {
      svg {
        color: #ffc107;
      }
    }
  }
  .link-purple {
    color: #9053a1;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    border-bottom: 2px solid #9053a1 !important;
    border-radius: 0 !important;
  }
}
