app-new-product {
  @extend .d-block;

  h6 {
    font-size: 20px;
    font-weight: bold;
    color: #9053a1;

    margin-bottom: 40px;
  }

  form {
    .form-group {
      margin-bottom: 35px;

      label,
      input {
        display: block;
      }

      label {
        font-weight: bold;
        color: #231f20;
      }

      input {
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        color: #828282;

        height: 46px;
        width: 100%;
        padding: 5px 15px;
      }
    }

    button {
      &.btn-transparent-full {
        color: #000 !important;
      }
    }
  }
}
