app-products-carousel {
    .slide-products .owl-theme .owl-nav [class*="owl-"] {
      color: #8f53a1;
      font-size: 14px;
      margin: 5px;
      padding: 4px 7px;
      background: #ffffff;
      display: inline-block;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid #8f53a1;
      border-radius: 50px;
      width: 45px;
      height: 45px;
      text-align: center;
    }
    .slide-products .owl-theme .owl-nav [class*="owl-"] i {
      font-size: 18px;
      line-height: 37px;
    }
    .slide-products .owl-theme .owl-nav {
      margin-top: 0px;
      position: absolute;
      top: -81px;
      right: 0;
    }
    .slide-products .owl-theme .owl-nav [class*="owl-"] img {
      margin-top: 5px;
    }
  }
  