app-skeleton-box {
  @keyframes placeHolderShimmer {
    0% {
      background-position: -100px + 52 + 16;
    }

    40% {
      background-position: 140px + 52 + 16;
    }
    100% {
      background-position: 140px + 52 + 16;
    }
  }

  @keyframes placeHolderShimmer2 {
    0% {
      background-position: -100px;
    }

    100% {
      background-position: 140px;
    }
  }

  .loading-background-highlight {
    animation: placeHolderShimmer 2s infinite ease-out;
    background-image: linear-gradient(
      90deg,
      #f4f4f4 0px,
      rgba(229, 229, 229, 0.8) 40px,
      #f4f4f4 80px
    );
    background-size: 600px;
  }

  .loading-background-highlight2 {
    animation: placeHolderShimmer2 2s infinite ease-out;
    background-image: linear-gradient(
      90deg,
      #f4f4f4 0px,
      rgba(229, 229, 229, 0.8) 40px,
      #f4f4f4 80px
    );
    background-size: 600px;
  }

  .skeleton {
    &--box {
      width: 100%;
      height: 160px;

      background-color: #ccc;

      @extend .loading-background-highlight;
    }

    p,
    span {
      width: 100%;
      display: block;

      margin-top: 20px;

      @extend .loading-background-highlight2;
    }

    p {
      height: 25px;
    }

    span {
      height: 35px;
    }
  }
}
