header {
    background-color: #fff;
}

header .header-top {
    border-bottom: 1px solid #dadada;
    color: #231F20;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 0;
}

header .header-top img {
    margin-right: 5px;
}

.phone {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}
.phone img {
    width: 17px;
    margin-right: 10px;
}
.user {
    font-size: 16px;
    line-height: 24px;
    color:#fff;
    text-align: center;
}
.user img {
    width: 15px;
    margin-right: 10px;
}
.location {
    background-color: #00282C;
    border-radius: 50px;
    padding: 10px 40px;
    text-align: left;
    position: relative;
    margin: 30px 0;
}
.location span {
    color: #fff;
}
.location img {
    width: 12px;
    margin-right: 10px;
}
.location  .fa-angle-down {
    color: #fff;
    right: 26px;
    position: absolute;
    top: 14px;
}

.nav-header {
    padding: 0;
    margin:0;
}

.nav-header__item {
    display: block;
    border-top: 1px solid #26806B;
}
.nav-header__item a {
    font-size: 16px;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    display: block;
    position: relative;
}
.nav-header__item a i {
    right: 0;
    position: absolute;
    font-size: 25px;
}

.search img {
    width: 20px;
}

.cart img {
    width: 23px;
}

.btn-primary{
    display: block;
    font-size: 14px;
    padding: 15px;
    margin-top: 20px;
}

.nav-bar .row {
    justify-content: center;
    align-items: center;
}

.nav-bar  {
    padding: 20px 0;
}


.col-md-auto {
    width: auto;
}




nav {
    margin-top: 7px;
}

#menuToggle
{
  display: block;
  /* position: relative;
  top: 50px;
  left: 50px; */
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 4; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}
#menuToggle > span
{
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  z-index: 3;
  background: #9053A1;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(0, 2px);
  background: #fff;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 50px;
  padding-top: 100px;
  background: #013E43;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  z-index: 2;
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
