<div class="row pl-3">
  <div class="col-12">
    <h6>Novo Produto</h6>
  </div>

  <form [formGroup]="newProductForm" class="col-12 row">
    <div class="col-12 form-group">
      <label for="name">Nome do produto e/ou serviço</label>
      <input
        type="text"
        id="name"
        value="Maria da Silva Costa"
        placeholder=""
        formControlName="productName"
      />
      <mat-error @fadeIn *ngIf="errorsHandler('productName')">
        Campo nome do produto/serviço é <strong>obrigatório</strong>
      </mat-error>
    </div>
    <div class="col-12 col-md-6 form-group">
      <label for="name">Valor Total</label>
      <input
        type="text"
        id="name"
        value="240000"
        placeholder=""
        currencyMask
        [options]="currencyOptions"
        formControlName="totalPrice"
      />
      <mat-error @fadeIn *ngIf="errorsHandler('totalPrice')">
        Campo valor total é <strong>obrigatório</strong>
      </mat-error>
    </div>
    <div class="col-12 col-md-6 form-group">
      <label for="name">Valor com Desconto</label>
      <input
        type="text"
        id="name"
        value="403000"
        placeholder=""
        currencyMask
        [options]="currencyOptions"
        formControlName="discountPrice"
      />
      <mat-error @fadeIn *ngIf="errorsHandler('discountPrice')">
        Campo valor com desconto é <strong>obrigatório</strong>
      </mat-error>
    </div>
    <div class="col-12 col-md-6 form-group">
      <label for="name">Data Limite</label>
      <input
        type="text"
        id="name"
        value="Maria da Silva Costa"
        placeholder=""
        formControlName="limitDate"
      />
      <mat-error @fadeIn *ngIf="errorsHandler('limitDate')">
        Campo data limite é <strong>obrigatório</strong>
      </mat-error>
    </div>
    <div class="col-12 col-md-6 form-group">
      <label for="name">Hora Limite</label>
      <input
        type="text"
        id="name"
        value=""
        placeholder=""
        formControlName="limitTime"
      />
      <mat-error @fadeIn *ngIf="errorsHandler('limitTime')">
        Campo hora limite é <strong>obrigatório</strong>
      </mat-error>
    </div>
    <div class="col-auto form-group">
      <label for="name">Estoque</label>
      <input
        type="text"
        id="name"
        value=""
        placeholder=""
        formControlName="stock"
      />
      <mat-error @fadeIn *ngIf="errorsHandler('stock')">
        Campo estoque é <strong>obrigatório</strong>
      </mat-error>
    </div>
    <div class="col-12">
      <button
        type="button"
        mat-button
        class="btn btn-round btn-primary mr-4"
        [disabled]="!formValidation"
      >
        Salvar produto
      </button>
      <button
        type="button"
        mat-button
        class="btn btn-round btn-transparent-full"
        [routerLink]="['/minha-conta/produtos']"
      >
        Voltar
      </button>
    </div>
  </form>
</div>
