<footer>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="logo"><a routerLink="/home" ><img src="../../../assets/img/logo.png"></a></div>
          <div class="social-icons">
            <div class="social-icons__item"><a routerLink="/home" ><img src="../../../assets/img/icons/facebook.png"/></a></div>
            <div class="social-icons__item"><a routerLink="/home" ><img src="../../../assets/img/icons/instagram.png"/></a></div>
            <div class="social-icons__item"><a routerLink="/home" ><img src="../../../assets/img/icons/twitter.png"/></a></div>
          </div>
        </div>
        <div class="col-12">
          <a data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1" class="footer-collapse"><span>Institucional</span> <i class="fa fa-angle-down"></i></a>
          <ul class="nav-footer collapse" id="collapse1">
              <li><a routerLink="">Sobre Nós</a></li>
              <li><a routerLink="">Como Funciona</a></li>
              <li><a routerLink="">Produtos</a></li>
              <li><a routerLink="">Benefícios</a></li>
              <li><a routerLink="">Parceiros</a></li>
              <li><a routerLink="">Simulador</a></li>
          </ul>
        </div>
        <div class="col-12">
          <a data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2" class="footer-collapse"><span>Ajuda</span> <i class="fa fa-angle-down"></i></a>
          <ul class="nav-footer collapse" id="collapse2">
            <li><a routerLink="">Minha Área</a></li>
            <li><a routerLink="">Econômetro</a></li>
            <li><a routerLink="">Venda no Market Place</a></li>
            <li><a routerLink="">Trocas e Devoluções</a></li>
          </ul>
        </div>
        <div class="col-12">
          <ul class="nav-footer">
            <span class="footer-collapse">Fale Conosco</span>
            <li><a routerLink=""><label>Chat Online</label> ou</a></li>
            <li><a routerLink=""><b>Ligue</b>  0800 770 6883</a></li>
            <li><a routerLink="">Venda no Market Place</a></li>
            <li><a routerLink="">Segunda a sexta das 8h às 17h.</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>