<app-base>
  <section class="my-account">
    <div class="container dash">
      <div class="row" @fadeIn *ngIf="showEffects">
        <div class="col-12">
          <h1 @fadeIn class="title">
            Minha conta
          </h1>
        </div>

        <div class="col-12 col-md-3 col-lg-4">
          <ul
            class="my-account--menu-items"
            @listState
            *ngIf="menuItems?.length > 0"
          >
            <li
              mat-ripple
              *ngFor="let item of menuItems; let l = last"
              [routerLink]="[item.routerLink]"
              [routerLinkActive]="['active']"
            >
              <span>{{ item.title }}</span>
              <small>{{ item.text }}</small>
              <fa-icon [icon]="faChevronRight"></fa-icon>
            </li>
          </ul>
        </div>

        <div
          class="col-12 col-md-9 col-lg-8 container-route"
          [@slideSide]="
            o.isActivated ? o.activatedRoute : ''
          "
          *ngIf="showEffects && selectedItem"
        >

          <router-outlet #o="outlet"></router-outlet>
    


          <!-- <ng-container *ngIf="selectedItem === menuItems[0]">
            <app-my-products
              @fadeIn
              *ngIf="!isNewProduct"
              (toggleIsnewProduct)="toggleNewProduct()"
            ></app-my-products>

            <app-new-product
              @fadeIn
              *ngIf="isNewProduct"
              (back)="toggleNewProduct()"
            ></app-new-product>
          </ng-container>
          <ng-container *ngIf="selectedItem === menuItems[1]">
            <app-my-information @fadeIn></app-my-information>
          </ng-container>

          <ng-container *ngIf="selectedItem === menuItems[3]">
            <app-financing-processes @fadeIn></app-financing-processes>
          </ng-container>
          <ng-container *ngIf="selectedItem === menuItems[4]">
            <app-salles-history @fadeIn></app-salles-history>
          </ng-container> -->
        </div>
      </div>
    </div>
  </section>
</app-base>
