.dash {
  display: block;
  min-height: 500px;
}

.container-route {
  overflow: hidden;
}

.header-menu {
  fa-icon {
    display: none;
  }

  @media screen and (max-width: 676px) {
    fa-icon {
      display: block;
    }
  }
}

.navMenu {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}