// .slide-banner {
//     background-image: url("../../../../assets/img/banner-principal.png");
//     background-repeat: no-repeat;
//     height: 580px;
//     background-position: right top;
//   }

//   .slide-banner h1 {
//     font-weight: 600;
//     font-size: 46px;
//     line-height: 52px;
//     color: #013e43;
//     margin-top: 80px;
//   }
//   .slide-banner p {
//     font-size: 20px;
//     line-height: 38px;
//   }
//   .slide-banner .btn {
//     display: none;
//   }

.slide-banner {
  background-image: url("./../../../../assets/img/banner-principal.png");

  @media screen and (max-width: 676px) {
    background-image: url('./../../../../assets/img/icons/detail.png');
    background-position: top right;
    height: 420px;

    h1 {
      font-size: 36px;
      line-height: 50px;
    }
  }

  @media screen and (max-width: 580px) {
    h1 {
      font-size: 26px;
      line-height: 40px;
    }
  }
}

.mobile {
  display: none;

  @media screen and (max-width: 676px) {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 24px;
    letter-spacing: 1px;
  }
}
