.slide-banner {
    background-image: url("../../../../assets/img/banner-principal.png");
    background-repeat: no-repeat;
    height: 580px;
    background-position: right top;
  }
  
  .slide-banner h1 {
    font-weight: 600;
    font-size: 46px;
    line-height: 52px;
    color: #013e43;
    margin-top: 80px;
  }
  .slide-banner p {
    font-size: 20px;
    line-height: 38px;
  }
  .slide-banner .btn {
    display: none;
  }