<form>
    <div class="row pl-3">
      <div class="col-12 form-group">
        <label for="name">Nome completo</label>
        <input
          type="text"
          id="name"
          value="Maria da Silva Costa"
          placeholder="Nome completo"
        />
      </div>
      <div class="col-12 form-group">
        <label for="cpf">CPF</label>
        <input
          type="text"
          id="cpf"
          value="111.111.111-11"
          placeholder="111.111.111.-11"
        />
      </div>
      <div class="col-12 form-group">
        <label for="email">E-mail</label>
        <input
          type="text"
          id="email"
          value="mariadacostasilva@email.com.br"
          placeholder="seuemail@email.com"
        />
      </div>
      <div class="col-12 form-group">
        <label for="cel">Celular</label>
        <input
          type="text"
          id="cel"
          value="(11) 91234-5658"
          placeholder="(11) 99999-9999"
        />
      </div>
      <div class="col-12">
        <button mat-ripple type="button" class="btn btn-round">
          Atualizar dados
        </button>
      </div>
    </div>
  </form>