<div class="top back-top">
    <div class="container">
      <div class="row">
        <div class="col-12 credit-title">
          <h1 class="title">Cadastre-se e compre sua BMW Série 3 em até 24 horas</h1>
          <p>Você não está assumindo nenhum compromisso, precisamos apenas conhecer você um pouco mais.</p>
        </div>
      </div>
  
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-between credit-form">
      <div class="col-6">
        <p>Todos os campos são obrigatórios</p>
  
        <!-- <app-text></app-text>
        <app-text></app-text>
        <app-text></app-text>
        <app-upload></app-upload>
        <app-upload></app-upload>
        <app-checkbox></app-checkbox>
        <app-checkbox></app-checkbox> -->
  
        <div class="btns-end">
          <a href="#" class="link-purple btn-small">CANCELAR</a><a href="#" class="btn btn-primary">CADASTRAR</a>
        </div>
  
      </div>
      <div class="col-5">
        <div class="box-cart">
          <div class="box-cart__header">
            <h2>Minhas compras <a routerLink="#"><img src="../../../../assets/img/icons/edit.png"/></a></h2>
            <ul class="box-cart__list">
              <li><strong>Produto</strong><span>BMW Série 3</span></li>
              <li><strong>Valor do produto</strong><span>R$ 230.900,00</span></li>
              <li><strong>Valor do financiamento</strong><span>R$ 230.900,00</span></li>
              <li><strong>Parcelas</strong><span>24X R$ 10.000,00</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>