.slide-differential__item h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
  }
  
  .slide-differential__item p {
    font-size: 16px;
    line-height: 24px;
  }
  
  owl-carousel-o.slide-differential {
    width: 80%;
    margin-top: -50px;
  }
  
  .slide-differential .slide-differential__item img {
    width: 62px;
    display: block;
    margin-bottom: 10px;
  }
  .slide-differential .slide-differential__item h1 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    display: block;
    color: #013e43;
    margin: 0;
  }