.categories__item {
    border-radius: 8px;
    color: #fff;
    width: 100%;
    height: 80px;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px 0;
}
div.categories__item {
    background: #9053A1;
}
div.categories__item.one {
    background-image: url(../../../../assets/img/categories/categories-1.png);
}
div.categories__item.two {
    background-image: url(../../../../assets/img/categories/categories-2.png);
}
div.categories__item.three {
    background-image: url(../../../../assets/img/categories/categories-3.png);
}
div.categories__item.four{
    background-image: url(../../../../assets/img/categories/categories-4.png);
}
div.categories__item.five {
    background-image: url(../../../../assets/img/categories/categories-5.png);
}
div.categories__item.six {
    background-image: url(../../../../assets/img/categories/categories-6.png);
}
div.categories__item.seven {
    background-image: url(../../../../assets/img/categories/categories-7.png);
}


@media (max-width: 768px) {
    .categories .col-2 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
}
