<section class="container block-icons">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-2">
      <h2 class="title">
        Financiar suas compras nunca foi tão fácil
      </h2>
    </div>
    <article class="col-6 col-md-3 d-flex flex-column align-items-center">
      <img src="./../../../../assets/img/icon3.png" alt="" />
      <h4 class="my-2">Dinheiro rápido</h4>
      <p class="m-0">
        Compre seu produto <span class="d-block">em até 24h</span>
      </p>
    </article>
    <article class="col-6 col-md-3 d-flex flex-column align-items-center">
      <img src="./../../../../assets/img/icon3.png" alt="" />
      <h4 class="my-2">Parcelamento</h4>
      <p class="m-0">
        Escolha o número <span class="d-block">de parcelas</span>
      </p>
    </article>
    <article class="col-6 col-md-3 d-flex flex-column align-items-center">
      <img src="./../../../../assets/img/icon3.png" alt="" />
      <h4 class="my-2">Juros baixos</h4>
      <p class="m-0">
        Menos taxa de juros <span class="d-block">do mercado</span>
      </p>
    </article>
    <article class="col-6 col-md-3 d-flex flex-column align-items-center">
      <img src="./../../../../assets/img/icon3.png" alt="" />
      <h4 class="my-2">Menores preços</h4>
      <p class="m-0">
        Milhares de descontos <span class="d-block">e ofertas</span>
      </p>
    </article>
  </div>
</section>
