:host {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
.block-icons {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;

  &:after {
    content: url("./../../../../../assets/img/icons/detail-blue.png");
    position: absolute;
    top: 10px;
    left: -116px;
    z-index: -1;

    width: 320px;
    height: 320px;
  }

  article {
    padding-bottom: 1rem;
    img {
      max-width: 80px;
    }
  }
}
.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #013e43;
  margin-bottom: 30px;
}
