<app-base>
  <app-lead-banner
    [bannerItems]="leadBannerItems"
    [opts]="bannerOpts"
  ></app-lead-banner>

  <app-indicator-box [indicators]="indicators"></app-indicator-box>

  <app-products-carousel class="d-block mt-5"></app-products-carousel>

  <!-- STORES -->
  <div class="stores">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="title">
            Lojas que já fazem parte do Market Club
            <a href="#" class="link-purple">Veja todos</a>
          </h1>
        </div>
        <owl-carousel-o [options]="storesOpts" class="col-12">
          <ng-template carouselSlide class="col-md-auto">
            <div class="stores__box">
              <img src="../../../../assets/img/stores/logo1.png" />
            </div>
          </ng-template>
          <ng-template carouselSlide class="col-md-auto">
            <div class="stores__box">
              <img src="../../../../assets/img/stores/logo2.png" />
            </div>
          </ng-template>
          <ng-template carouselSlide class="col-md-auto">
            <div class="stores__box">
              <img src="../../../../assets/img/stores/logo3.png" />
            </div>
          </ng-template>
          <ng-template carouselSlide class="col-md-auto">
            <div class="stores__box">
              <img src="../../../../assets/img/stores/logo4.png" />
            </div>
          </ng-template>
          <ng-template carouselSlide class="col-md-auto">
            <div class="stores__box">
              <img src="../../../../assets/img/stores/logo5.png" />
            </div>
          </ng-template>
          <ng-template carouselSlide class="col-md-auto">
            <div class="stores__box">
              <img src="../../../../assets/img/stores/logo6.png" />
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>

  <section class="simulator">
    <div class="container py-4">
      <div class="row">
        <div class="col-12 col-md-7 pr-md-5">
          <h2 class="title">Faça a simulação do financiamento</h2>
          <article>
            <div class="range">
              <span>Valor desejado</span>
              <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
            </div>

            <div class="range">
              <span>Número de parcelas</span>
              <ng5-slider [(value)]="value" [options]="options2"></ng5-slider>
            </div>
          </article>
        </div>
        <div class="col-12 col-md-5">
          <div class="simulator--box">
            <p>
              <span class="simulator--box--first">
                Valor de cada parcela
              </span>

              <span class="simulator--box--second">
                24 vezes de
              </span>

              <span class="simulator--box--last">
                R$ 2150,00
              </span>
            </p>

            <button mat-ripple class="btn btn-round btn-white-purple">
              Solicitar financiamento
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-facilities></app-facilities>

  <section class="container step-by-step py-4">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-2">
        <h2 class="title">
          Confira o passo-a-passo
        </h2>
      </div>
      <div class="col-md-3">
        <div
          class="steps-list mb-2 w-100 d-flex"
          *ngFor="let step of steps"
          (click)="toggleSelectedStep(step)"
        >
          <img [src]="step.img" alt="" />
          <div>
            <h6 class="m-0 pl-2 pb-1">{{ step.title }}</h6>
            <p class="mt-0 pl-2">{{ step.text }}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <video width="100%" controls>
          <source
            src="./../../../../assets/videos/steps/sample.mp4"
            type="video/mp4"
          />
          Your browser does not support HTML5 video.
        </video>
      </div>
    </div>
  </section>

  <app-sellers></app-sellers>
</app-base>
