.slide-differential__item h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.slide-differential__item p {
  font-size: 16px;
  line-height: 24px;
}

owl-carousel-o.slide-differential {
  width: 80%;
  margin-top: -50px;
}

.slide-differential .slide-differential__item img {
  width: 62px;
  display: block;
  margin-bottom: 10px;
}
.slide-differential .slide-differential__item h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  display: block;
  color: #013e43;
  margin: 0;
}
/* .slide-differential .slide-differential__item p {
    
} */
/* .slide-differential {
    margin-top: 70px;
} */

@media (max-width: 700px) {
  owl-carousel-o.slide-differential {
    width: 100%;
    margin-top: 80px;
  }
}

/* 

    .slide-differential .owl-carousel .owl-item {
        width: calc(100vh - 10px) !important;
    }
     */

.slide-products {
  padding: 80px 0 0;
  position: relative;

  .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #013e43;
    margin-bottom: 30px;
  }
}

.stores {
  background-color: #f1fafa;
  padding: 80px 0;

  .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #013e43;
    margin-bottom: 30px;
  }

  .link-purple {
    @media screen and (max-width: 676px) {
      display: block;
      position: relative !important;
      width: 92px;
      left: 0;
    }
  }
}
.stores__box {
  background-color: #fff;
  border-radius: 8px;
  width: 170px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.stores .link-purple {
  right: 15px;
  top: 10px;
  position: absolute;
}

.link-purple {
  color: #9053a1;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 2px solid #9053a1;
}

.step-by-step {
  position: relative;

  &:after {
    content: url("./../../../../assets/img/icons/detail.png");
    position: absolute;
    bottom: -120px;
    right: -90px;
    z-index: -1;

    width: 281px;
    height: 354px;
  }

  @media screen and (max-width: 676px) {
    display: none;
  }

  .steps-list {
    & > img {
      width: 48px;
      height: 48px;
    }
  }

  video {
    max-height: 455px;

    background-color: #000;
  }

  h6 {
    font-weight: bold;
  }
}

.sellers {
  a {
    color: #9053a1;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 2px solid #9053a1;
    cursor: pointer;
  }

  button {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.simulator {
  background-color: #f1fafa;

  @media screen and (max-width: 676px) {
    display: none;
  }

  .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #013e43;
    margin-bottom: 30px;
  }

  .range {
    margin-bottom: 50px;

    span {
      display: block;
      margin-bottom: 20px;
    }
  }

  &--box {
    width: 429px;
    height: 429px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #013e43;
    border-radius: 50%;

    position: relative;

    &:after {
      content: url("./../../../../assets/img/icons/back-simulator-box.svg");
      position: absolute;
      width: 429px;
      height: 429px;
      top: -32px;
      left: -33px;
      z-index: -1;
    }

    &--first {
      font-size: 26px;
      margin-bottom: 20px;
    }

    &--second {
      font-size: 35px;
    }

    &--last {
      font-size: 35px;
      font-weight: bold;
    }

    p {
      text-align: center;
      font-size: 1rem;
      color: #fff;

      span {
        display: block;
      }
    }

    button {
      max-width: 250px;
    }
  }
}
.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #013e43;
  margin-bottom: 30px;
}
