<div class="filter-toggle">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header mat-ripple>
        <mat-panel-title>
          Preço
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="collapse show">
        <ul class="filter-toggle__list" *ngIf="priceRangeList">
          <li (click)="setPriceRangeFilter(price)" *ngFor="let price of priceRangeList">{{ price.descricao }}</li>
          <!-- <li>De R$ 5.000 a R$ 25.000<span>(4.000)</span></li>
          <li>De R$ 25.000 a R$ 50.000<span>(2.000)</span></li>
          <li>Acima de R$ 50.000<span>(2.000)</span></li> -->
        </ul>
        <!-- <div class="filter-toggle__inputs">
          <input type="text" class="" placeholder="Mínimo" />
          <span></span>
          <input type="text" class="" placeholder="Máximo" />
          <button class="btn btn-icon-circle">
            <img src="../../../../../assets/img/icons/arrow-next.png" />
          </button>
        </div> -->
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
