<div class="slide-products">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="title">
            Realize seus sonhos pagando<br />as menores parcelas do mercado
          </h1>
        </div>
        <owl-carousel-o [options]="productsOptions" class="col-12">
          <ng-template carouselSlide class="col-md-auto">
            <app-product></app-product>
          </ng-template>
          <ng-template carouselSlide class="col-md-auto">
            <app-product></app-product>
          </ng-template>
          <ng-template carouselSlide class="col-md-auto">
            <app-product></app-product>
          </ng-template>
          <ng-template carouselSlide class="col-md-auto">
            <app-product></app-product>
          </ng-template>
          <ng-template carouselSlide class="col-md-auto">
            <app-product></app-product>
          </ng-template>
          <ng-template carouselSlide class="col-md-auto">
            <app-product></app-product>
          </ng-template>
          <ng-template carouselSlide class="col-md-auto">
            <app-product></app-product>
          </ng-template>
          <ng-template carouselSlide class="col-md-auto">
            <app-product></app-product>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>