@import "~@angular/material/theming";
@include mat-core();

$marketclub-ui-primary: mat-palette($mat-indigo);
$marketclub-ui-accent: mat-palette($mat-pink, A200, A100, A400);

$marketclub-ui-warn: mat-palette($mat-red);

$marketclub-ui-theme: mat-light-theme(
  $marketclub-ui-primary,
  $marketclub-ui-accent,
  $marketclub-ui-warn
);


@include angular-material-theme($marketclub-ui-theme);

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif !important;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "./assets/scss/bootstrap/bootstrap";
@import "./assets/scss/globals/animations";

@import "./assets/scss/pages/my-account";
@import "./assets/scss/pages/terms";

@import "./assets/scss/components/button";
@import "./assets/scss/components/breadcrumb";
@import "./assets/scss/components/range";
@import "./assets/scss/components/lead-banner";
@import "./assets/scss/components/products-carousel";
@import "./assets/scss/components/my-products";
@import "./assets/scss/components/new-product";
@import "./assets/scss/components/skeleton-box";
@import "./assets/scss/components/indicator-box";
@import "./assets/scss/components/product-tabs";
@import "./assets/scss/components/success-modal";


.menu-cart {
  position: relative;
  top: 55px;
  right: -35px;

  .triangle {
    top: 0;
    right: 22px;
    position: absolute;
    background-color: #fff;
    text-align: left;
  }
  .triangle:before,
  .triangle:after {
    content: "";
    position: absolute;
    background-color: inherit;
  }
  .triangle,
  .triangle:before,
  .triangle:after {
    width: 3em;
    height: 3em;
    border-top-right-radius: 20%;
  }

  .triangle {
    transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
  }
  .triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
      translate(0, -50%);
  }
  .triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
  }

  &--content {
    border-radius: 6px;

    width: 340px;
    padding: 20px;

    h6 {
      font-size: 1.24rem;
      color: #013e43;
    }

    img {
      width: 55px;
      height: 55px;
    }

    span {
      color: #9053a1;
    }

    .btn-round {
      background-color: #9053a1;
      color: #fff;
    }
  }
}

.menu-search {
  position: relative;
  top: -47px;
  right: -26px;

  &--content {
    border-radius: 6px;

    width: 650px;

    header {
      button {
        border: 0;
        background: transparent;

        border-radius: 50%;
        position: relative;
        top: -10px;
      }
    }

    h5 {
      font-size: 14px;
      font-weight: bold;
    }

    .mat-form-field {
      width: 100%;
    }

    ul {
      li {
        font-size: 14px;

        list-style: none;
      }
    }
  }
}





.mat-menu-panel {
  max-width: none !important;
  overflow: visible !important;

  &.menu-search {
    position: relative;
    top: -40px;
  }
}

app-header-mobile,
app-footer-mobile,
app-filters-mobile,
.dropdown-local-mobile {
  display: none;
}
@media (max-width: 768px) {
  app-header,
  app-footer {
    display: none;
  }
  app-header-mobile,
  app-footer-mobile,
  app-filters-mobile,
  .dropdown-local-mobile {
    display: block;
  }
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #013e43;
  margin-bottom: 30px;

  @media screen and (max-width: 670px) {
    font-size:25px !important;
  }

}
.title span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}



/* IMAGE GALLERY  */
.ngx-gallery-thumbnail-size-cover
  .ngx-gallery-thumbnails
  .ngx-gallery-thumbnail {
  background-size: cover;
  border-radius: 8px;
}

/* PAGINATION */
.ngx-pagination {
  margin: 50px auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.ngx-pagination .current {
  background: #8f53a1 !important;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 30px;
}

.filter-toggle {
  .mat-expansion-panel-body {
    padding: 0;
  }
}


input.form-control {
  border-radius: 0;
  border:none;
  border-bottom: 1px solid #9053A1;

  background-color: #fff;
  // margin-bottom: 20px;
  height: 45px;
  box-shadow: none !important;
  // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
}
input.form-control:focus,
input.form-control:active {
  background-color: #ffffffe3;
  // box-shadow: 0px 0px 11px 2px #3a82dc;
}

// .form-control {
//   border: none;
//   border-bottom: 1px solid #9053A1;
//   border-radius:0;
//   font-weight: 600;
// }

input.form-control:focus {
  background: #fff !important;
}

mat-error {
  font-size: 12px;

  margin-top: 15px;
  position: absolute;
  bottom: -20px;
}


app-product-detail {
  .slide-products .owl-theme .owl-nav [class*="owl-"] {
    color: #8f53a1;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #8f53a1;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slide-products .owl-theme .owl-nav [class*="owl-"] i {
    font-size: 18px;
    line-height: 37px;
  }
  .slide-products .owl-theme .owl-nav {
    margin-top: 0px;
    position: absolute;
    top: -81px;
    right: 0;
    display: flex;
  }
  .slide-products .owl-theme .owl-nav [class*="owl-"] img {
    width: 16px;
    height: 16px;
  }
}