<app-base>
  <section class="terms">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="title">
            Contrato de prestação de serviço
          </h1>
        </div>

        <div class="col-12">
          <div class="terms--body">
            <div class="terms--body--box">
              <p>
                  Ao lojista do Market Club,
              </p>

              <p>
                  Obrigado por dedicar este tempo para ler o Sumário do contrato do Market Club.
              </p>

              <p>
                  Estas informações o ajudarão a operar na nossa plataforma de anúncios. É muito importante que conheça as nossas políticas e, por esta razão, é necessário que leia e compreenda os Termos e condições gerais de uso do site, bem como a leitura das cláusulas que viabilizam a contratação e as limitativas de direitos, aqui destacadas:
              </p>

              <p>
                  O Market Club não é fornecedor de quaisquer produtos ou serviços anunciados no site. O Market Club presta um serviço consistente na oferta de uma plataforma na internet que fornece espaços para que Usuários anunciantes/potenciais vendedores anunciem, oferecendo à venda, os seus próprios produtos e serviços para que eventuais interessados na compra dos itens, os Usuários /potenciais compradores, possam negociar direta e exclusivamente entre si;
              </p>

              <p>
                  Estas informações o ajudarão a operar na nossa plataforma de anúncios. É muito importante que conheça as nossas políticas e, por esta razão, é necessário que leia e compreenda os Termos e condições gerais de uso do site, bem como a leitura das cláusulas que viabilizam a contratação e as limitativas de direitos, aqui destacadas:
              </p>

              <p>
                  O Market Club não é fornecedor de quaisquer produtos ou serviços anunciados no site. O Market Club presta um serviço consistente na oferta de uma plataforma na internet que fornece espaços para que Usuários anunciantes/potenciais vendedores anunciem, oferecendo à venda, os seus próprios produtos e serviços para que eventuais interessados na compra dos itens, os Usuários /potenciais compradores, possam negociar direta e exclusivamente entre si;
              </p>

              <p>
                  Estas informações o ajudarão a operar na nossa plataforma de anúncios. É muito importante que conheça as nossas políticas e, por esta razão, é necessário que leia e compreenda os Termos e condições gerais de uso do site, bem como a leitura das cláusulas que viabilizam a contratação e as limitativas de direitos, aqui destacadas:
              </p>

              <p>
                  O Market Club não é fornecedor de quaisquer produtos ou serviços anunciados no site. O Market Club presta um serviço consistente na oferta de uma plataforma na internet que fornece espaços para que Usuários anunciantes/potenciais vendedores anunciem, oferecendo à venda, os seus próprios produtos e serviços para que eventuais interessados na compra dos itens, os Usuários /potenciais compradores, possam negociar direta e exclusivamente entre si;
              </p>

              <p>
                  Estas informações o ajudarão a operar na nossa plataforma de anúncios. É muito importante que conheça as nossas políticas e, por esta razão, é necessário que leia e compreenda os Termos e condições gerais de uso do site, bem como a leitura das cláusulas que viabilizam a contratação e as limitativas de direitos, aqui destacadas:
              </p>

              <p>
                  O Market Club não é fornecedor de quaisquer produtos ou serviços anunciados no site. O Market Club presta um serviço consistente na oferta de uma plataforma na internet que fornece espaços para que Usuários anunciantes/potenciais vendedores anunciem, oferecendo à venda, os seus próprios produtos e serviços para que eventuais interessados na compra dos itens, os Usuários /potenciais compradores, possam negociar direta e exclusivamente entre si;
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 mt-5 actions">
          <button class="btn btn-download" type="button" mat-button>
            <fa-icon [icon]="faDownload" class="mr-3"></fa-icon>
            Baixar arquivo
          </button>
          <button class="btn btn-round btn-primary" type="button" mat-button>Assinar contrato</button>
        </div>
      </div>
    </div>
  </section>
</app-base>
